code/includes/*.shp
code/includes/*.dbf
code/includes/*.shx
code/includes/*.prj
code/includes/*.tif
code/includes/*.cpg
code/includes/*.qmd
code/includes/*.fix
code/.project
code/.settings/

mv
.metadata/
.cache/
bin/
Unclassified Models/
*.built_in_models_*
*.gama_application_workspace*
*.csv